.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
.main {
  display: grid;
  place-items: center;
  height: 100%;
  overflow: hidden;
  background: url("/src/assets/images/about-us-timeline-overlay.png") no-repeat
    center center/cover;
  z-index: -1;
}
/* IDS */
.timeline-cog {
  position: relative;
  display: grid;
  place-items: center;
  max-width: 1000px;
  box-shadow: 0 0 10px white;
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    black 33%,
    black 65%,
    transparent
  );
  height: 800px;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  /* height: 300px; */
  /* border-radius: 50px; */
  overflow: hidden;
  transition: 1s;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.scroller {
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  display: none;
}
.swiper-slide-next,
.swiper-slide-prev {
  /* position: absolute; */
  /* z-index: 10000; */
}
/* timeline card */
.timeline-card__body {
  position: relative;
  isolation: isolate;
  padding: 16px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 6px 32px hsla(217, 38%, 19%, 0.519);
}
.timeline-card__year {
  font-size: 100px;
  text-align: center;
  margin-bottom: 32px;
  color: rgb(255, 255, 255);
}

.timeline-card__body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/src/assets/images/timeline-card__overlay-white.png")
    no-repeat center center / cover;
  z-index: -1;
}
.timeline-card__list-item {
  font-weight: 100;
  color: black;
}
.timeline-card__list-item strong {
  font-weight: 600;
}
.timeline-card img {
  width: auto;
  margin: auto;
  margin-top: 16px;
}
.cog {
  position: absolute;
  top: 52%;
  transition: 0.5s;
}
.timeline-gif {
  border-radius: 100%;
  width: 100px !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  z-index: 100;
  background-color: white;
}
.timeline-card--shares li:first-child {
  background-color: white;
}
.timeline-card--shares::before {
  content: "";
  background: url("/src/assets/images/shares-img.jpg") no-repeat center
    center/cover;
  inset: 0;
  z-index: -1;
}
.first-render--text {
  perspective: 600px;
}
.first-render--text > img {
  animation: first-render 4s infinite linear;
}

@keyframes first-render {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}
.timeline-card__year--current {
  filter: drop-shadow(0 0 16px #d4e7ff);
  text-shadow: 0 0 10px rgb(176, 196, 238);
}
